

* {

    margin: 0
}

body {

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(146, 212, 212);
    border-radius: 2px;
}

.logo {
    width: 250px;
    height: 50px;

}

.nav-links {
    display: flex;
    column-gap: 15px;
    text-wrap: nowrap;
    /* change this */
    margin-right: 20px;
}

#main-background {
    display: flex;
    align-items: center;
    background-image: url("/Images/backgroundpic.jpg");
    background-size: contain;
    border-radius: 5px;
    background-repeat:no-repeat;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 700px;
    color: white;
    text-shadow: 2px 4px black;
}
.events-section {
    width: 100%;
    margin-bottom: 20%;
    margin-top: 20%;
}

.events-section .events {
    display: flex;
    justify-content: space-evenly;
}

.events-section .events .event-info {
    border-radius: 15px;
    background-color: #DBE0CC;
    height: 25rem;
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2rem;
    padding: 1.5rem 1rem;
}

.events-section .top .name {
    font-size: 2rem;
    font-weight: bold;
}


.events-section .event-info .top {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.events-section .event-info .bottom {
    color: #534A4B;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid #000;
    row-gap: 2rem;
}

.events-section .event-info .bottom .day {
    font-size: 3rem;
    
}

.read-more-btn {
    font-family: 'Kumbh San', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    background-color: #534A4B;
    border-radius: 10px;
    color: white;
}


    
.footer{ 
    padding: 0rem 3%; 
    width: 100%; 
    background-color: black;
  } 
  .main-footer{ 
    display: flex; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 1.5rem; 
  } 
  .footer-inner-content{ 
    flex: 1 1 280px; 
    padding: 1rem; 
  } 
  .footer-inner-content h2{ 
    color: white; 
    font-size: 20px;   
    padding: 2rem 0; 
  } 
  .footer-inner-content p{ 
    color: white; 
    font-size: 0.75rem; 
    margin: 1rem 0; 
  } 
  .footer-inner-content a{ 
    text-decoration: none; 
    display: block; 
    color: white; 
    font-size: 2.5rem; 
    margin: 0.5rem 0; 
  }